* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-weight: 400;
    margin: 0;
    padding: 0;
    font-family: 'Avenir Next';


    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clear {
    clear: both;
    line-height: 0;
    font-size: 0;
}

img {
    max-width: 100%;
}


h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 30px;
    color: #3F4644;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

h1:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background-color: #c70000;
}

h1 span {
    background-color: transparent;
        color: #c70000;
}

h2 {
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    display: block;
    color: #3F4644;
    padding-bottom: 10px;
}

h2 span {
    color: #E86E04;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    display: block;
    letter-spacing: 0;
    padding-bottom: 15px;
}

h2 span img {
    margin-right: 5px;
}

@media (min-width: 768px) {

    h2,
    .h2 {
        font-size: 35px;
    }

    h1 {
        font-size: 46px;
    }
}

@media (min-width: 1200px) {

    h2,
    .h2 {
        font-size: 32px;
    }

    h2 span,
    .h2 span {
        font-size: 24px;
    }

    h1 {
        font-size: 45px;
        padding-bottom: 27px;
        margin-bottom: 30px;
    }

    h1:after {
        width: 53px;
        height: 7px;
    }
}

p {
    color: #000;
    font-size: 15px;
    margin: 0;
    font-family: 'Avenir Next LT Pro';
    font-weight: 400;
}

a {
    color: #0AB0D8;
    font-weight: 500;
    text-decoration: none;
    transition: all ease 0.3s;
}

a:hover {
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

ul li,
ol li {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000000;
    font-weight: 400;
}

@media (min-width: 1200px) {
    ul li:after {
        top: 10px;
    }

    ul li,
    ol li {
        padding: 0;
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }
}

.text-justify {
    text-align: justify !important;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 22px;
    padding-left: 22px;
}

.full-container {
    width: 100%;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1645px;
}


/*button style*/

.btn {
    cursor: pointer;
    padding: 0 21px;
    font-size: 6px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    border: none;
    line-height: 24px;
    text-align: center;
    position: relative;
    transition: all .4s ease-in-out;
}

.btn-primary {
    background: #E86E04;
    color: #fff;
    border-radius: 2px;
}

.btn-primary:hover {
    background: #2a3d98;
    color: #fff;
    text-decoration: none;
}

.btn-secondary {
    padding: 0;
    padding-right: 22px;
    color: #1C458D;
    background: url(../img/btn-secondary-arrow.svg) center right no-repeat;
}

.btn-secondary:hover {
    padding-right: 32px;
    text-decoration: none;
}

@media (min-width: 1025px) {
    .btn {
        font-size: 16px;
        line-height: 48px;
        border-radius: 6px;
    }
}

@media (min-width: 1200px) {
    .btn {
        font-size: 19px;
        line-height: 64px;
        padding: 0 45px;
        border-radius: 10px;
    }
}


/**
* Forms
*/

label {
    margin: 0 0 0;
    color: #8181A5;
    font-weight: 400;
    font-size: 14px;
    padding: 0 0 5px;
    line-height: 1.50em;
}

[type="text"],
[type="date"],
[type="time"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="search"],
[type="tel"],
[type="url"],
[type="week"],
select {
    width: 100%;
    padding: 0 20px;
    font-size: 14px;
    color: #8F8F8F;
    font-weight: 400;
    border: none;
    outline: none;
    background: #fff;
    line-height: 44px;
    transition: all .4s ease-in-out;
}

textarea {
    width: 100%;
    padding: 15px 55px 15px 25px;
    font-size: 14px;
    color: #8F8F8F;
    font-weight: 400;
    border: none;
    outline: none;
    background: #FCFCFC;
    height: 112px;
    resize: none;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

[type="text"]::placeholder,
[type="date"]::placeholder,
[type="time"]::placeholder,
[type="datetime"]::placeholder,
[type="datetime-local"]::placeholder,
[type="email"]::placeholder,
[type="month"]::placeholder,
[type="number"]::placeholder,
[type="password"]::placeholder,
[type="search"]::placeholder,
[type="tel"]::placeholder,
[type="url"]::placeholder,
[type="week"]::placeholder,
select::placeholder,
textarea::placeholder {
    color: #8F8F8F;
    transition: color .4s ease-in-out;
}

[type="text"]:focus,
[type="date"]:focus,
[type="time"]:focus,
[type="datetime"]:focus,
[type="datetime-local"]:focus,
[type="email"]:focus,
[type="month"]:focus,
[type="number"]:focus,
[type="password"]:focus,
[type="search"]:focus,
[type="tel"]:focus,
[type="url"]:focus,
[type="week"]:focus,
select:focus,
textarea:focus {
    border-color: #ffedb3;
}

select,
[type="time"],
[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    color: transparent;
    background: no-repeat;
    background-position: cover;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    top: 0;
    left: 0;
}


input:not([type="radio"]):not([type="checkbox"]),
button,
textarea {
    -webkit-appearance: none;
}

[type="submit"],
[type="button"] {
    cursor: pointer;
    outline: none;
}

[type="submit"]:focus,
[type="button"]:focus {
    outline: none;
}

button::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border: none;
    padding: 0;
}

@font-face {
    font-family: 'Avenir Next';
    src: local('Avenir Next Demi'), local('Avenir-Next-Demi'),
        url('../fonts/AvenirNextCyr-Demi.woff2') format('woff2'),
        url('../fonts/AvenirNextCyr-Demi.woff') format('woff'),
        url('../fonts/AvenirNextCyr-Demi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url('../fonts/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('../fonts/AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/*radion button*/


.page-header {
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    z-index: 1;
}

.logo {
    width: 180px;
}

.page-header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-header-btn a span {
    display: none;
}

.page-header-btn a {
    padding: 6px;
    background-color: #c70000;
    font-size: 15px;
    border-radius: 50px;
    color: #fff;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    justify-content: center;
}


@media(min-width: 768px) {
    .page-header-btn a span {
        display: block;
    }

    .page-header-btn a {
        padding: 6px 22px;
        font-size: 15px;
        width: auto;
        height: auto;
    }

    .page-header-btn a i {
        margin-right: 8px;
    }

    .logo {
        width: 192px;
    }
}


@media(min-width: 1200px) {
    .page-header-btn a {
        padding: 8px 30px;
        font-size: 18px;
    }

    .page-header-btn a:hover {
        text-decoration: none;
        background-color: #a70303;
    }

    .page-header {
        padding: 18px 0;
    }
}


.masterhead {
    position: relative;
    padding: 50px 0;
    background-color: rgb(199 0 0 / 2%);
    margin-top: 64px;
}


@media(min-width: 768px) {
    .masterhead {
        padding: 70px 0 50px;
        margin-top: 58px;
    }
}

@media(min-width: 1200px) {
    .masterhead-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .masterhead-content {
        width: 46%;
        padding-right: 16px;
    }

    .masterhead-right {
        width: 40%;

        padding-left: 16px;
    }

    .masterhead {
        padding: 50px 0;
        margin-top: 78px;
    }

    .masterhead-content p {
        font-size: 18px;
    }
}


.about {
    padding: 50px 0;
}

.about-item {
    margin-top: 30px;
    text-align: center;
}

.heading {
    text-align: center;
    margin-bottom: 30px;
}

.about-content h3 {
    font-size: 24px;
    padding-bottom: 10px;
}

.about-content p {
    font-size: 17px;
    padding-bottom: 0;
}

.about-icon {
   margin: 0 auto -40px;
    background-color: rgb(199 0 0 / 8%);
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 25px;
    position: relative;
    border-bottom: 2px solid #c70000;
}
.about-content{
        background-color: rgb(199 0 0 / 2%);
    padding: 65px 30px 30px 30px;
    border-radius: 10px;
    border-bottom: 2px solid #c70000;
}

.heading p {
    font-weight: 600;
}


@media(min-width: 768px) {
    .about-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .about-item {
        width: 50%;
        padding: 0 16px;
    }
}

@media(min-width: 1200px) {
    .about-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .about-item {
        width: 33.333%;
    }

    .about-content h3 {
        font-size: 20px;
        padding-bottom: 10px;
        min-height: 60px;
    }

    .about-content p {
        font-size: 16px;
    }

    .heading p {
        font-size: 22px;
    }

    .about {
        padding: 64px 0;
    }
}


.accordionWrapper {
    padding: 30px;
    background: #fff;
    float: left;
    width: 80%;
    box-sizing: border-box;
    margin: 10%;
    box-shadow: 0 1.5em 85px 0 rgba(0, 0, 0, 0.2);
}

.accordionItem {
    float: left;
    display: block;
    width: 100%;
    box-sizing: border-box;
    text-shadow: none;
    opacity: 1;
    /*border-bottom: 1px solid #3F4644;*/
}

.accordionItemHeading {
    padding: 20px 82px 20px 20px;
    font-size: 20px;
    color: #3f4644;
    cursor: pointer;
    font-weight: 700;
    position: relative;
}

.accordionItemHeading:after {
    content: "+";
    width: 28px;
    height: 28px;
    background-color: #c70000;
    color: #ffffff;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 15px;
    top: 50%;
    border-radius: 50px;
    transform: translate(0, -50%);
    font-weight: 600;
}

.close .accordionItemContent {
    height: 0px;
    transition: height 1s ease-out;
    transform: scaleY(0);
    float: left;
    display: block;

}

.open .accordionItemContent {
    padding: 20px;
    background-color: #fff;
    width: 100%;
    margin: 0px;
    display: block;
    transform: scaleY(1);
    transition: transform 0.4s ease;
    box-sizing: border-box;
    margin-bottom: 30px;
        border-bottom: 3px solid #c70000;
}

.open .accordionItemHeading {
    margin: 0px;
    background-color: #c70000;
    color: #fff;
    border-radius: 10px 10px 0px 0px;
}

.open .accordionItemHeading:after {
    content: "-";
    padding-bottom: 8px;
    font-size: 40px;
    font-weight: 500;
    background-color: #fff;
    color: #c70000;
}

.accordian {
    padding: 50px 0;
    background-color: rgb(199 0 0 / 2%);
}

.accordian .heading {
    margin-bottom: 40px;
}

.accordian .heading h2 {
    font-size: 32px;
}

@media(min-width: 1200px) {
    .accordionItemHeading {
        padding: 20px 82px 20px 20px;
        font-size: 20px;
    }

    .accordionItemHeading {
        padding: 15px 92px 15px 20px;
        font-size: 18px;
        line-height: 24px;
        background-color: #fff;
        margin-bottom: 15px;
        border-radius: 10px;
        }

    .accordian {
        padding: 64px 0;
    }
}


.page-footer-top {
    padding: 50px 0;
    background-color: rgb(0 0 0 / 70%);
}

.page-footer-top h3 {
    font-size: 20px;
    color: #fff;
    padding-bottom: 15px;
}

.page-footer-top p {
    font-size: 12px;
    color: #fff;
    padding-bottom: 15px;
}

.page-footer-top p:last-child {
    padding-bottom: 0;
}

.page-footer-bottom p {
    font-size: 15px;
    color: #000;
    font-weight: 700;
    padding-bottom: 0;
}


.page-footer-bottom {
    padding: 15px 0;
    text-align: center;
    background-color: #f5f0eb;
}

@media(min-width: 1200px) {
    .page-footer-bottom p {
        font-size: 16px;
    }

    .page-footer-bottom {
        padding: 15px 0;
        text-align: center;
    }
}


#msform {
    text-align: center;
    position: relative;
    margin-top: 20px
}

#msform fieldset {
    border: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    position: relative;
    background-color: transparent;
}

.form-card {
    text-align: left
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea {
    padding: 2px 12px;
    border: 1px solid #a3a3a3;
    border-radius: 50px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    background-color: #ffffff;
    font-size: 16px;
    font-family: 'Avenir Next LT Pro';
    letter-spacing: 0;
}


#msform input:focus,
#msform textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #000;
    outline-width: 0
}

#msform .action-button {
    width: auto;
    background: #c70000;
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    letter-spacing: 0;
    margin: 0 5px;
    padding: 6px 22px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Avenir Next';
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #a70303;
}

#msform .action-button-previous {
    width: auto;
    background: #c70000;
    font-weight: bold;
    color: white;
    border: 0 none;
    cursor: pointer;
    letter-spacing: 0;
    margin: 0 5px;
    padding: 6px 22px;
    font-size: 15px;
    border-radius: 50px;
    font-family: 'Avenir Next';
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #a70303;
}

.card {
    z-index: 0;
    border: none;
    position: relative;
    background: transparent;
    /*max-width: 400px;*/
    margin: 0 auto;
    outline: none;
}

.fs-title {
    font-size: 28px;
    color: #3f4644;
    margin-bottom: 70px;
    font-weight: normal;
    text-align: left;
    line-height: 28px;
    text-align: center;
}

.purple-text {
    color: #c70000;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: gray;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: right
}

.fieldlabels {
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    position: static;
    font-family: 'Avenir Next';
    /* background-color: #fff; */
    left: 20px;
    top: -11px;
    padding-left: 2px;
    padding-right: 2px;
}

.form-col {
    position: relative;
    display: block;
    margin-bottom: 30px;
}

#progressbar {
    overflow: hidden;
}

#progressbar .active {
    background-color: #c70000;
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 16px;
    height: 16px;
    display: inline-block;
    position: relative;
    border: 3px solid #c70000;
    background-color: #000;
    border-radius: 50px;
    margin: 0 12px;
}


#progressbar li:before {
    content: "";
    position: absolute;
    width: 21px;
    height: 2px;
    top: 4px;
    right: -27px;
    color: #ffffff;
    background: #c70000;
}

#progressbar li:last-child:before {
    display: none;
}

.fit-image {
    width: 100%;
    object-fit: cover
}

.value {
    text-align: center;
    font-weight: 700;
    font-size: 38px;
    line-height: 34px;
    margin: 0 0 25px;
    color: #c70000;
    letter-spacing: 0;
}

.price-rage-value input {
    height: 4px !important;
    background-color: #c70000 !important;
    margin: 0 !important;
    padding: 0 !important;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #c70000;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #c70000;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 5px solid rgba(27, 151, 106, 0.64); */
    cursor: pointer;
    transition: .3s ease-in-out;
}

​ input[type="range"]::-webkit-slider-thumb:hover {
    background-color: white;
    border: 2px solid #c70000;
}

/* .value:before {
    content: "$";
} */

.price-rage-value {
    position: relative;
    margin-bottom: 70px;
}

.price-rage-value:before {
    content: "$10,000";
    position: absolute;
    left: 0;
    bottom: -43px;
    font-size: 15px;
    color: #000;
}

.price-rage-value:after {
    content: "$10,0000+";
    position: absolute;
    right: 0;
    bottom: -43px;
    font-size: 15px;
    color: #000;
}

.form-info {
    font-size: 12px;
    color: #000;
    text-align: center;
    padding: 5px 0;
}

.form-info a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
}


@media(min-width: 768px) {
    #msform .action-button {
        padding: 8px 30px;
        font-size: 18px;
    }

    #msform .action-button-previous {
        padding: 8px 30px;
        font-size: 18px;
    }
}
@media(max-width: 767px) {
    .accordian .heading h2 {
    font-size: 28px;
}
}
.range-slider{margin-bottom: 40px; position: relative;}
  #tooltip {
    position: absolute;
    top: -2.25rem;
  }
  #tooltip span {
    position: absolute;
    text-align: center;
    display: block;
    line-height: 1;
    padding: 6px 10px;
    color: #fff;
    border-radius: 50px;
    background: #c70000;
    font-size: 16px;
    left: 50%;
    transform: translate(-50%, -45%);
  }
  #tooltip span:before {
    position: absolute;
    content: "";
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #c70000;
  }
  